h1 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 80px ;
  margin-top: 0px ;

}

h2 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 80px ;
  margin-top: 0px ;

}

h3 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 40px ;
  margin-top: 50px;

}

h4{
  color: black;
}

.btn-group {
<<<<<<< HEAD
  display: flex;
  justify-content: center;
  align-content: center;
=======
  text-align: center;
>>>>>>> 1f06bc990c0e40a3beaba9a223fc71ebd1230864
  margin-bottom: 50px;
  margin-top: 30px;
}

.btn-group button {
  text-align: center;
}

.btn-group .button:hover {
    background-color: #49597c;
  }


p{
  font-size: 20px;
  margin-left: 20px;
  color: #49597c;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
}

p1 {
  font-size: 20px;
  text-align: center;
  color: #49597c;
  font-family: 'Gochi Hand', cursive;
}


#map {
 align: center;
 height: 600px;
 width: 100%;
}

body {
  background-color: #dce9f2 ;
}
