h1 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 80px ;
  margin-top: 0px ;
}

header{
  text-align: center;
  background: url('https://i.imgur.com/NRGXgFH.jpg');
  background-size: cover;
  padding: 300px;
  color: #49597c;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.5;
}

h2 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 80px ;
  margin-top: 0px ;

}

h3 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 40px ;
  margin-top: 50px;

}

h4{
  color: black;
}

.btn-group {
  color: #49597c;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 20px;
}

.btn-group a{
  color: #49597c;
}

.btn-group button {
  color: #49597c;
  text-align: center;
  font-size: 16px;
}

.btn-group .button:hover {
    background-color: #49597c;
  }

.btn-outline-info{
  color: #49597c;
}

p{
  font-size: 20px;
  margin-left: 20px;
  color: #49597c;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
}

p1 {
  font-size: 20px;
  text-align: center;
  color: #49597c;
  font-family: 'Gochi Hand', cursive;
}


#map {
 align: center;
 height: 700px;
 width: 100%;
}

body {
  background-color: #dce9f2 ;
}

.col-xs-4{
     align: center;
     image-orientation: center;
     text-align: center;
}
