h1 {
  color: #49597c ;
  text-align: center;
  font-family: 'Londrina Shadow', cursive;
  font-family: 'Londrina Outline', cursive;
  font-family: 'Spicy Rice', cursive;
  font-family: 'Knewave', cursive;
  font-size: 80px ;
  margin-top: 0px ;

}

#map {
 align: center;
 height: 600px;
 width: 100%;
}

body {
  background-color: #dce9f2 ;
}
